body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Courier, monospace;
}

ul li{
    list-style: none;
}

#custom-selector-container{
    margin: 10px 0 0 15px;
    display:inline-block;
}

#site-display-container{
    margin-top:20px;
    width:300px;
    height:40px;
    border:1px black solid;
    box-shadow: 5px 10px #888888;
}

#dropdown-selector{
    position:absolute;
    height:100%;
    width:100%;
}

#item-display{
    padding-left: 20px;
    padding-top: 8px;
    font-size: 125%;
    opacity:0.8;
}

#dropdown-arrow{
    border: solid black;
    position:relative;
    right: 30px;
    bottom: 15px;
    float:right;
    width: 6px; height: 6px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#site-selector-container{
    margin-top:20px;
    width:300px;
    max-height: 300px;
    display:none;
    border: 1px solid black;
    overflow-y: scroll;
}

.item{
    padding: 15px 0 15px 25px;
}

.item:hover{
    background-color:lightgrey;
}

.area{
    padding-left: 50px;
}

.region{
    padding-left: 75px;
}

.site{
    padding-left:100px;
}

.company:before{
        content: "";
        border-color: transparent #111;
        border-style: solid;
        border-width: 0.30em 0 0.30em 0.30em;
        display: block;
        height: 0;
        width: 0;
        left: -13px;
        top: 12px;
        position: relative;
}

.area:before{
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.30em 0 0.30em 0.30em;
    display: block;
    height: 0;
    width: 0;
    left: -13px;
    top: 12px;
    position: relative;
}

.region:before{
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.30em 0 0.30em 0.30em;
    display: block;
    height: 0;
    width: 0;
    left: -13px;
    top: 12px;
    position: relative;
}